.contact-info {
    font-size: 18px;
    line-height: 1.8;
}

.contact-info a {
    color: darkgoldenrod;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 16px;
}

footer a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
